
<link href="provider.css" rel="stylesheet">
<div class="container">

  <!-- The justified navigation menu is meant for single line per list item.
       Multiple lines will require custom code not provided by Bootstrap. -->
  <div class="masthead">
    <h3 class="text-muted"></h3>
    <nav>
      <ul class="nav nav-justified">
        <li class="active"><a href="#">Check Beds</a></li>
        <li><a href="#">Find a Shower Truck</a></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Find Nearest Facility</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>


  <!-- Example row of columns -->
        </br> </br> </br> </br> </br>
    <div class="text">
      <h2><b>UPDATE PROVIDER INFO</b></h2>
      </br>
      <p>Use the below form to enter information about your facility/service: </p>
      </br>
      </br>
    </div>

    <form class="form-signin">
        <h3>Total Number of Beds</h3>
        <label for="totalBed" class="sr-only">Email address</label>
        <input type="number" id="totalBed" class="form-control" placeholder="Total Number of Beds" required autofocus>
        </br>
        <h3> Available Number of Beds </h3>
        <label for="availableBeds" class="sr-only">Available Beds</label>
        <input type="number" id="availableBeds" class="form-control" placeholder="Available Beds" required>
        </br> </br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="loadDoc()">Submit</button>
      </form>
      
      </br>
      </br>


</div> <!-- /container -->
